.news-content-warp{
    padding: 2rem;
    margin: 2rem 0;
    background-color: #ffffff;
}
h1{
    margin-bottom: 1rem;
}
h5{
    font-size: 12px;
    font-weight: normal;
}
hr{
    margin-top: 0px;
}