table{
    background-color: #ffffff;
}
.am-grid-color{
    background-color: #f8f8f8;
}
.am-sd-tab1{
    padding: 2rem;
    margin-top: 3rem;
}
.am-sd-tab1-td1{
    width:20%;
    border-top: none !important;
}
.am-sd-tab1-td2{
    border-top: none !important;
}
.am-sd-tab1-td1 img{
    width: 125px;
    height: 125px;
}
.am-sd-tab1-td2-span{
    font-size: 2rem;
}
.ywjs{
    width: 80%;
}
.am-sd-tdbg{
    background-color: #f0f6fc;
}
.am-sd-title{
    padding-bottom: 1rem;
    padding-top: 1.5rem;
}
.news-update-time{
    width: 100%;
    font-size: 14px;
}
.news-update-time span{
    margin-left: 5px;
    color: #737373;
    
}
.news-update-time a{
    cursor: pointer;
    color: #737373;
    margin-left: 5px;
    font-size: 14px;
}
.news-update-time a:hover{
    cursor: pointer;
    color: #4796ff;
}
.news-update-time a:focus{
    cursor: pointer;
    color: #4796ff;
}
