body{
    background-color: #f8f8f8;
}
.am-selected {
    width: auto;
}
.searchList-input-group button:last-child{
    color: white;
    background-color: #408ff8;


}
.searchList-input-group button:last-child:hover{
    color: white;
    background-color: #103b72;


}
.searchList-input-group{
    margin-top: 3rem;
    margin-bottom: 2rem;
    padding-left: 0px;
}
.searchList-searchbox{
    padding-top: 3rem;
    padding-bottom: 2rem;
}
.searchList-select-angle{
    background-color: #51ad54;
    color: white;
    width: 25px;
    height: 25px;
}
.am-selected-btn{
    height: 38px;
}
.am-selected-status {
    margin-right: 3px;
}
/* 面板自定义样式 */
.am-panel-noborder{
    border: none;
    /* background-color: #f8f8f8; */
    box-shadow:none;
    min-width: 800px
}
.am-panel-noborder> .am-panel-hd{
    font-size: 15px;
    color: #444;
    background-color: #f8f8f8;
    border-bottom: none;
    height: 50px;
}


.am-panel-bd{
    background-color: #f2f2f2;
    padding: 0.25rem;
}


.am-panel-hd-inner{
    background-color: #f8f8f8;
}
/* 面板自定义样式 */
/* 筛选 */
.filter {
    /* padding-top: 15px; */
    /* padding-bottom: 15px; */
    background: #f9fbfe;
}

.filter .box {
    padding:10px;
    /* border: 1px solid #dcdcdc; */
    background-color: #f2f2f2;
}
.filter .title-h {
    font-size: 15px;
    color: #6A6A6A;
    border-bottom: 1px dashed#dcdcdc;
    padding-bottom: 10px;
    height: 35px;
}
.show-content-body{
    overflow: visible !important ;
    height: auto !important;
}
.filter dl {
    position: relative;
    margin-bottom: 10px;
}
.filter dl dt {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 15px;
    color: #6c6c6c
    /* font-weight: 700; */
}
.filter dl dd {
    padding-left: 80px;
}
.filter dl dd.content-body {
   height: 30px;
   width: 92%;
   float: left;
   overflow: hidden;
}
dt + dd {
    margin-top: 0rem;
}
.filter dl dd.show-more {
    cursor: pointer;
   padding-left: 0px;
    text-align: right;
    float: right;
}
.selected-box{
    width: 92%;
    float: left;
}
.filter dl dd.clear-all {
    cursor: pointer;
   padding-left: 0px;
    text-align: right;
    float: right;
    width: 87px;
}
/* .filter dl dd a.on {
    font-weight: 700;
    color: #477fd2;
} */
.filter dl dd a {
    margin-right: 20px;
    margin-bottom: 10px;
    display: inline-block;
    font-size: 14px;
    color: #6c6c6c
}
/* 筛选  */
/* 筛选结果样式 */
.selected-items{
    border: 1px solid #408ff8;
   padding: 2px;
   margin-left: 5px;
}
.selected-items:hover{
    border: 1px solid red;
    cursor: pointer;
}
.selected-items i{
    padding-left: 5px;
    padding-right: 2px
   }
.selected-items i:hover{
 color: red;
 padding-left: 5px;
}
.matched-company{
    padding: 10px;
    font-size: 14px;
    border-bottom: 1px solid #e6e6e6;
}
.matched-company a{
    color: #858585;
}
.matched-company:last-child{
    border-bottom: none;  
}
.matched-company .title{
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}
.matched-company .description{
    margin-bottom: 5px;
}
.matched-company .description .name{
    font-weight: bold;
}