<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="http://cdn.amazeui.org/amazeui/2.7.2/css/amazeui.css">
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/newsCenter.css">
    <title>新闻中心</title>
</head>
<body>
<header class="am-topbar am-topbar-fixed-top">
    <div class="am-u-sm-8  am-u-sm-centered">
        <h1 class="am-topbar-brand">
            <img src="../images/sitemap_logo.png" alt="">
        </h1>

        <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only" data-am-collapse="{target: '#doc-topbar-collapse'}">
            <span class="am-sr-only">导航切换</span>
            <span class="am-icon-bars"></span>
        </button>

        <div class="am-collapse am-topbar-collapse" id="doc-topbar-collapse">
            <ul class="am-nav am-nav-pills am-topbar-nav">
                <li class="am-dropdown" data-am-dropdown>
                    <a class="am-dropdown-toggle" data-am-dropdown-toggle href="javascript:;">
                        500强
                        <span class="am-icon-caret-down"></span>
                    </a>
                    <ul class="am-dropdown-content">
                        <li class="am-dropdown-header">标题</li>
                        <li>
                            <a href="#">1. 去月球</a>
                        </li>
                        <li class="am-active">
                            <a href="#">2. 去火星</a>
                        </li>
                        <li>
                            <a href="#">3. 还是回地球</a>
                        </li>
                        <li class="am-disabled">
                            <a href="#">4. 下地狱</a>
                        </li>
                        <li class="am-divider"></li>
                        <li>
                            <a href="#">5. 桥头一回首</a>
                        </li>
                    </ul>
                </li>

                <li class="am-dropdown" data-am-dropdown>
                    <a class="am-dropdown-toggle" data-am-dropdown-toggle href="javascript:;">
                        排行榜
                        <span class="am-icon-caret-down"></span>
                    </a>
                    <ul class="am-dropdown-content">
                        <li class="am-dropdown-header">标题</li>
                        <li>
                            <a href="#">1. 去月球</a>
                        </li>
                        <li class="am-active">
                            <a href="#">2. 去火星</a>
                        </li>
                        <li>
                            <a href="#">3. 还是回地球</a>
                        </li>
                        <li class="am-disabled">
                            <a href="#">4. 下地狱</a>
                        </li>
                        <li class="am-divider"></li>
                        <li>
                            <a href="#">5. 桥头一回首</a>
                        </li>
                    </ul>
                </li>
                <li class="am-dropdown" data-am-dropdown>
                    <a class="am-dropdown-toggle" data-am-dropdown-toggle href="javascript:;">
                        上市公司
                        <span class="am-icon-caret-down"></span>
                    </a>
                    <ul class="am-dropdown-content">
                        <li class="am-dropdown-header">标题</li>
                        <li>
                            <a href="#">1. 去月球</a>
                        </li>
                        <li class="am-active">
                            <a href="#">2. 去火星</a>
                        </li>
                        <li>
                            <a href="#">3. 还是回地球</a>
                        </li>
                        <li class="am-disabled">
                            <a href="#">4. 下地狱</a>
                        </li>
                        <li class="am-divider"></li>
                        <li>
                            <a href="#">5. 桥头一回首</a>
                        </li>
                    </ul>
                </li>
                <li >
                    <a href="#">新三板</a>
                </li>
            </ul>
            <div class="am-topbar-right">

                <ul class="am-nav am-nav-pills am-topbar-nav">
                    <li>
                        <a href="#">登陆</a>
                    </li>


                    <li>
                        <a href="#">注册</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>
<!-- 导航结束 -->
<div v-show="loading" class="loading"></div>

<div class="am-g am-grid-color">
    <div class="am-u-sm-8 am-u-sm-centered">
        <div class="am-u-md-centered" id="main">
            <!--搜索框-->
            <div class="am-g">
                <div class="am-u-sm-8">
                    <div class="am-u-lg-10">
                        <div class="am-input-group am-news-inputGroup">
                            <input type="text" class="am-form-field">
                            <span class="am-input-group-btn">
                                <button class="am-btn am-btn-primary" type="button"><span class="am-icon-search"></span> </button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <!--搜索框-->
            <!--content-->
            <div class="am-u-sm-8">
                <!--左边面板-->
                <div class="am-panel am-panel-default">
                    <div class="am-panel-hd"><span class="am-news-line">|</span>面板标题</div>
                    <div class="am-panel-bd" v-for="newsLeftList in newsLeftData">
                        <div class="am-g am-panel-content ">
                            <div class="am-fl"><img class="am-img-responsive am-panel-img " :src="newsLeftList.img"></div>
                            <div class="am-u-sm-8 am-panel-body">
                                <div class="am-panel-title" v-text="newsLeftList.title"></div>
                                <div class="am-panel-intro" v-text="newsLeftList.description"></div>
                                <div class="am-panel-source">
                                    <span>来源：蓝鲸财经</span>
                                    <span class="am-fr" v-text="newsLeftList.create_time"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="page-bar am-fl ">
                        <div class="am-fl">
                            <ul class="am-pagination  am-pagination-size">
                                    <li v-if="cur>1"><a v-on:click="cur--,pageClick()">上一页</a></li>
                                    <li v-if="cur==1"><a class="banclick">上一页</a></li>
                                    <li v-for="index in indexs"  v-bind:class="{ 'active': cur == index}">
                                        <a v-on:click="btnClick(index)">{{ index }}</a>
                                    </li>
                                    <li v-if="cur!=all"><a v-on:click="cur++,pageClick()">下一页</a></li>
                                    <li v-if="cur == all"><a class="banclick">下一页</a></li>
                                    <li><a>共<i>{{all}}</i>页</a></li>
                            </ul>
                        </div>
                    </div>
            </div>

            <!--右边面板-->
            <div class="am-u-sm-4">
                <div class="am-panel am-panel-default">
                    <div class="am-panel-hd"><span class="am-news-line">|</span>热门阅读</div>
                    <div>
                        <ul data-am-widget="gallery" class="am-gallery am-gallery-overlay" data-am-gallery="{ pureview: true }" >
                            <li v-for="newsRightList in newsRightData">
                                <div class="am-gallery-item">
                                    <a href="http://s.amazeui.org/media/i/demos/bing-1.jpg" class="">
                                        <img :src="newsRightList.img"  alt=""/>
                                        <h3 class="am-gallery-title" v-text="newsRightList.title"></h3>
                                    </a>
                                </div>
                            </li>
                            <!--<hr class="am-news-hr">-->
                        </ul>
                    </div>
                </div>
            </div>
            <!--content-->
            
            <!--分页-->
            <vue-pagination :cur.sync="cur" :all.sync="all" ></vue-pagination>
            <!--为了最后一个不是分页而设置-->
            <div></div>
        </div>
    </div>
</div>
<!-- 底部导航 -->
<div class="layout-footer">
    <div class="container ">
        <div class="footer_main">
            <div class="am-g am-u-sm-8 am-u-sm-centered">
                <p class="footer-logo">
                    <img src="../images/foot_gomine_logo.png" alt="">
                </p>
                <div class="am-u-md-6">
                    <div >
                        <p>Rm.B-702,Bldg.1,Zhubang 2000 Business Center, No。100 Balizhuang Xili, Chaoyang District,Beijing</p>
                        <p>
                            <a href=""><i class="am-icon-phone"></i> +86-10-87510736</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <a href=""><i class="am-icon-envelope-o"></i> marketing@gomine.cn</a>
                        </p>
                        <p>Copyright©GOMINE.CN All right Reserved.京ICP备05075516号</p>
                    </div>
                </div>
                <div class="am-u-md-6 ">
                    <strong><p> subscribe for upgrates</p></strong>
                    <div>
                        <p>
                            <div class="am-input-group am-btn-group-lg">
                                <input type="text" class="am-form-field" placeholder="enter your email address">
                                <span class="am-input-group-btn footer_right-input">
                                    <button class="am-btn am-btn-default " type="button">
                                        <span class="am-icon-envelope-o"></span>
                                    </button>
                                </span>
                            </div>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 底部导航 -->

<script src="../js/jquery/jquery-3.3.1.min.js"></script>
<script src="../js/vue/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="http://cdn.amazeui.org/amazeui/2.7.2/js/amazeui.js"></script>
<script src="../js/common.js"></script>
<script src="../js/newsCenter.js"></script>
</body>
</html>